* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.burqer {
  position: absolute;
  right: 0;
  z-index: 10;
}
.close {
  position: absolute;
  right: 0;
  z-index: 10;
  display: none;
}
.burqerMenu {
  list-style: none;
  background-color: rgb(14, 30, 60);
  color: white;
  font-size: 22px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 65px;
  padding-left: 30px;
  height: 100vh;
  width: 100vw;
  right: -300px;
  opacity: 0;
  .work,
  .blog,
  .contact{
    display: inline;
    cursor: pointer;
    &:hover{
      font-size: larger;
      color: rgb(42, 97, 165);
    }
  }
  .workMenu,
  .blogMenu,
  .contactMenu {
    background-color: beige;
    height: 100px;
    display: none;
  }
}
.container {
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  .btn {
    padding: 15px 40px;
    background-color: rgba(234, 80, 80, 0.893);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
  }
}
